.map{
display: grid;
grid-template-columns: repeat(3,5);
gap: 1px;
}
.tile{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    color: white;
}
  .type-0 { background: url("green.png"); } /* e.g., Grass */
  .type-1 { background: url("blue.png");} /* e.g., Water */
  .type-2 { background: url("red.png"); } /* e.g., Mountain */
  
